<% layout("/layouts/boilerplate")%>
    <%= success%>

        <body>
            <div class="filters-wrapper">
                <!-- Left Arrow -->
                <button class="scroll-btn left" onclick="scrollFilters(-200)">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>

                <div id="filters">
                    <div class="filter">
                        <a href="/listings/filter/Trending">
                            <div><i class="fa-solid fa-fire"></i></div>
                            <p>Trending</p>
                        </a>

                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Rooms">
                            <div><i class="fa-solid fa-bed"></i></div>
                            <p>Rooms</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Mountains">
                            <div><i class="fa-solid fa-mountain-sun"></i></div>
                            <p>Mountains</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Castles">
                            <div><i class="fa-brands fa-fort-awesome"></i></div>
                            <p>Castles</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Amazing-Pools">
                            <div><i class="fa-solid fa-person-swimming"></i></div>
                            <p>Amazing Pools</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Camping">
                            <div><i class="fa-solid fa-campground"></i></div>
                            <p>Camping</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Farm">
                            <div><i class="fa-solid fa-cow"></i></div>
                            <p>Farm</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Arctic">
                            <div><i class="fa-solid fa-snowflake"></i></div>
                            <p>Arctic</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Beach">
                            <div><i class="fa-solid fa-umbrella-beach"></i></div>
                            <p>Beach</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Boat">
                            <div><i class="fa-solid fa-sailboat"></i></div>
                            <p>Boat</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Ski-in-out">
                            <div><i class="fa-solid fa-person-snowboarding"></i></div>
                            <p>Ski-in/out</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Apartment">
                            <div><i class="fa-solid fa-building"></i></div>
                            <p>Apartment</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Woodlands">
                            <div><i class="fa-solid fa-tree-city"></i></div>
                            <p>Woodlands</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Lake">
                            <div><i class="fa-solid fa-water"></i></div>
                            <p>Lake</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Cabins">
                            <div><i class="fa-solid fa-house"></i></div>
                            <p>Cabins</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Countryside">
                            <div><i class="fa-solid fa-house-chimney-window"></i></div>
                            <p>Countryside</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Bed-and-Breakfasts">
                            <div><i class="fa-solid fa-mug-hot"></i></div>
                            <p>Bed & Breakfasts</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Campsite">
                            <div><i class="fa-solid fa-tents"></i></div>
                            <p>Campsite</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Historical-Homes">
                            <div><i class="fa-solid fa-landmark"></i></div>
                            <p>Historical Homes</p>
                        </a>
                    </div>
                    <div class="filter">
                        <a href="/listings/filter/Vineyard">
                            <div><i class="fa-solid fa-wine-bottle"></i></div>
                            <p>Vineyard</p>
                        </a>
                    </div>

                    <div class="filter">
                        <a href="/listings/filter/Mansions">
                            <div><i class="fa-solid fa-building-columns"></i></div>
                            <p>Mansions</p>
                        </a>
                    </div>
                </div>
                <button class="scroll-btn right" onclick="scrollFilters(200)">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
            <div class="row row-cols-lg-3 row cols-md-2 row-cols-sm-1">
                <% for(let listing of alllisting){ %>
                    <a href="/listings/<%= listing._id%>" class="listing-link">

                        <div class="listing-card card col">
                            <img class="card-img-top" style="height: 20rem; " src="<%= listing.image.url  %>"
                                alt="listing image">
                            <div class="card-img-overlay"> </div>
                            <div class="card-body">

                                <p class="card-text">
                                    <%= listing.title %>
                                        <br />
                                        &#8377; <%= (listing.price || 0).toLocaleString("en-IN") %> / night

                                </p>
                            </div>
                        </div>
                    </a>
                    <% }%>
            </div>

        </body>